<!--doctype html-->
<html lang="en">
<head>
  {% include 'page-includes.html' %}
</head>
<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>

<div class="container blank-container">

	<header class="website-header">
     {% include 'header.html' %}
  </header>

      <main role="main">
        <div class="jumbotron p-4 bg-light border mx-0 mx-md-4">
          <div class="col-sm-12 mx-auto">
            <h3 class="text-primary m-0">Clubs</h3>
            <p class="font-ninety-em d-none d-lg-block mt-2 mb-0">
            </p>

             <!-- <p class="font-ninety-em d-lg-none mt-2 mb-0">Here is another description of our demo.</p> -->
          </div>
        </div>

        <div class="container mb-4">
          <div class="row mb-4 py-2 px-0 px-md-4">
            <div class="col-6 border rounded-lg p-4" id="myclubs" name="myclubs">
                <h4 class="text-primary m-0">Your Clubs</h4>
                <ul class="list-group" id="clublist" name="clublist">
                  <!-- my clubs-->
                </ul>
            </div>

            <div class="col-6 border rounded-lg p-4" id="add-friends" name="add-friends">
                <h4 class="text-primary m-0">Add Clubs: </h4>
                <form>
                  <div class="form-group">
                    <label for="friend-search">Search</label>
                    <input type="text" class="form-control" id="friend-search" placeholder="Search by club name">
                  </div>
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control " id="category" name="category">
                      <option value="" selected ></option>
                      <option value="Active" >Active</option>
                      <option value="Academic & Professional">Academic & Professional</option>
                      <option value="Student Government">Student Government</option>
                      <option value="Performing Arts">Performing Arts</option>
                      <option value="Public Service">Public Service</option>
                    </select>
                  </div>
                </form>
                <button class="btn btn-primary" id="searchclubs">Search Clubs</button>
                <ul class="list-group" id="club-searchresults">
                  <!-- search results-->
                </ul>
            </div>
          </div>

        </div>
      </main>

</div>

<footer class="page-footer">
  {% include 'footer.html' %}
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/clubs.js"></script>
    <!-- <script>$("#geoparsepy-spinner").hide();</script> -->
</body>
</html>
