<!--doctype html-->
<html lang="en">
<head>
  {% include 'page-includes.html' %}
</head>

<body>
<div class="container blank-container">

	<header class="website-header">
     {% include 'header.html' %}
  </header>
  
</div>

<main role="main" class="container blank-container">
		<div class="jumbotron p-4 bg-light border mx-0 mx-md-4">
          <div class="col-sm-12 mx-auto">
            <h3 class="text-primary m-0">{{ fname }} {{ lname }}'s Profile</h3>
            <p class="font-ninety-em d-none d-lg-block mt-2 mb-0">
            </p>
          </div>
    	</div>
    	<div class="container mb-4">
          <div class="row mb-4 py-2 px-0 px-md-4">
            <div class="col-12 border rounded-lg p-4" id="friends" name="friends">
                <h4 class="text-primary m-0">{{ comp_id }}</h4>
                <form>
                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{ fname }}" disabled>
                  </div>
                  <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="{{ lname }}" disabled>
                  </div>
                  <div class="form-group">
                    <label for="gradyear">Graduation Year</label>
                    <input type="text" class="form-control" id="gradyear" name="gradyear" value="{{ gradyear }}" disabled>
                  </div>
                  <div class="form-group">
                    <label for="major">Primary Major</label>
                    <input type="text" class="form-control" id="major" name="major" value="{{ major }}" disabled>
                  </div>
                </form>
            </div>

          </div>
          <div class="row mb-4 py-2 px-0 px-md-4">
            <div class="col-6 border rounded-lg p-4" id="friends" name="friends">
                <h4 class="text-primary m-0">Mutual Courses: </h4>
                <ul class="list-group" id="friendlist" >
                  {%for i in range(0, num_courses)%}
                    <a href="/course?course_id={{ mutual_courses[i][0] }}&semester={{ mutual_courses[i][3] }}&year={{ mutual_courses[i][4] }}"><li class="list-group-item">
                      {{ mutual_courses[i][1] }}{{ mutual_courses[i][2] }} ({{ mutual_courses[i][0] }})
                      <br>
                      {{ mutual_courses[i][3] }} {{ mutual_courses[i][4] }}
                    </li></a>
                  {%endfor%}
                </ul>
            </div>

            <div class="col-6 border rounded-lg p-4" id="add-friends" name="add-friends">
                <h4 class="text-primary m-0">Mutual Clubs: </h4>
                <ul class="list-group" id="requestlist">
                  {%for i in range(0, num_clubs)%}
                    <li class="list-group-item">{{ mutual_clubs[i][0] }}</li>
                  {%endfor%}
                </ul>
            </div>

          </div>

        </div>
</main><!-- /.container -->

<footer class="page-footer">
  {% include 'footer.html' %}
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/finder.js"></script>

</body>
</html>
